/* Reset de estilos */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333; /* Cor padrão do texto */
}

a {
    color: #3F51B5;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #2E3C82;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #2E3C82;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #2E3C82;
}

main {
    padding: 20px;
}

section {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

section p {
    line-height: 1.6;
    margin-bottom: 10px;
    color: #666;
}

section a {
    display: inline-block;
    background-color: #3F51B5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

section a:hover {
    background-color: #2E3C82;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 768px) {
    header {
        padding: 15px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
        padding: 10px 0;
        margin: 0;
    }

    main {
        padding: 15px;
    }

    section {
        padding: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
    }

    section h2 {
        font-size: 1.2rem;
    }
}

